<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ElasticSearchLearningTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ElasticSearchLearningTests.Properties.Settings>
            <setting name="ElasticSearchUsername" serializeAs="String">
                <value>elastic</value>
            </setting>
            <setting name="ElasticSearchPassword" serializeAs="String">
                <value>changeme</value>
            </setting>
            <setting name="ElasticSearchUrl" serializeAs="String">
                <value>http://192.168.99.100:9200</value>
            </setting>
        </ElasticSearchLearningTests.Properties.Settings>
    </userSettings>
</configuration>